[Unit]
Description=xportd
After=syslog.target network.target

[Service]
ExecStart=/usr/local/xService/xService.sh
ExecStop=/usr/local/xService/xportd --shutdown
ExecReload=/usr/local/xService/xportd

[Install]
WantedBy=multi-user.target
