<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="80">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>SITE:www</param>
</port>
<port type="http" bind="443">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>CERT:SSL NAME:sslsrv PASS:123456</param>
</port>
<port type="-http" bind="8889">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>AUTH:XDS</param>
</port>
<port type="-http" bind="8888">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>AUTH:XDS CERT:SSL NAME:sslsrv PASS:123456</param>
</port>
<port type="-tcp" bind="1833">
<mode></mode>
<module>/usr/local/xService/xtcps</module>
<param>SITE:mqtt</param>
</port>
<port type="-tcp" bind="104">
<mode></mode>
<module>/usr/local/xService/xtcps</module>
<param>SITE:pacs</param>
</port>
<port type="-udp" bind="5683">
<mode></mode>
<module>/usr/local/xService/xudps</module>
<param>SITE:coap</param>
</port>
<port type="-udp" bind="69">
<mode></mode>
<module>/usr/local/xService/xudps</module>
<param>SITE:tftp</param>
</port>
</config>
