<?xml version="1.0" encoding="utf-8"?>
<config>
<schedule>
<hint>
<first-time>2020-01-01 00:00:00</first-time>
<month>[1-12]</month>
<week>[0,2,4,5]</week>
<day></day>
<hour>[0-24]</hour>
<minute>[0-59]</minute>
<second></second>
<last-time>2020-12-31 23:59:59</last-time>
</hint>
<mode></mode>
<module>/usr/local/xService/xtimers</module>
<task>demo</task>
</schedule>
</config>