<?xml version="1.0" encoding="utf-8"?>
<config>
<schedule>
<first-time>2020-01-01 00:00:00</first-time>
<month-hint>[1-12]</month-hint>
<week-hint>[0,2,4,5]</week-hint>
<day-hint></day-hint>
<hour-hint>[0-24]</hour-hint>
<minute-hint>[0-59]</minute-hint>
<second-hint>[0-59]</second-hint>
<last-time>2020-12-31 23:59:59</last-time>
<mode></mode>
<module>/usr/local/xService/xtimers</module>
<task>demo</task>
</schedule>
</config>