<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="8889">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>AUTH:</param>
</port>
<port type="http" bind="8888">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>CERT:SSL PASS:123456</param>
</port>
<port type="-http" bind="8887">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>CERT:SSH</param>
</port>
<port type="-slot" bind="8880">
<mode>thread</mode>
<module>xslots.exe</module>
<param>CERT: SITE:sub</param>
</port>
<port type="-slot" bind="8881">
<mode>thread</mode>
<module>xslots.exe</module>
<param>CERT: SITE:pub</param>
</port>
<port type="-slot" bind="8882">
<mode>thread</mode>
<module>xslots.exe</module>
<param>CERT: SITE:rad</param>
</port>
<port type="-slot" bind="8883">
<mode>thread</mode>
<module>xslots.exe</module>
<param>CERT: SITE:hl7sub</param>
</port>
<port type="-slot" bind="8884">
<mode>thread</mode>
<module>xslots.exe</module>
<param>CERT: SITE:hl7pub</param>
</port>
<port type="-slot" bind="8885">
<mode></mode>
<module>xslots.exe</module>
<param>CERT: SITE:pacs</param>
</port>
<port type="-udp" bind="69">
<mode>thread</mode>
<module>xudps.exe</module>
<param>SITE:tftp</param>
</port>
</config>