<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="80">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>AUTH:</param>
</port>
<port type="http" bind="443">
<mode></mode>
<module>/usr/local/xService/xhttps</module>
<param>CERT:SSL NAME:sslsrv PASS:123456</param>
</port>
</config>